@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.footnotes a {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

a {
  @apply underline-offset-2 hover:underline;
}

.titleContent {
  @apply space-y-1 border-none border-gray-200 py-4 dark:border-gray-700;
}

h1.title {
  @apply text-3xl font-bold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14;
}

h2.title {
  @apply text-2xl font-semibold leading-8 tracking-tight;
}

h3.title {
  @apply text-2xl font-semibold leading-8 tracking-tight;
}

.postNavigate {
  @apply mt-4 flex-1 xl:mt-8;
}

.postNavigate a {
  @apply block h-full rounded-md border border-gray-200 px-4 py-3 text-left hover:border-blue-200 hover:bg-blue-50 hover:no-underline dark:bg-gray-800 dark:hover:bg-gray-700;
}

.postNavigate:nth-child(2) a {
  @apply text-right;
}

.prose a {
  @apply font-normal text-blue-600 no-underline underline-offset-2 hover:underline;
}

.prose h1 {
  @apply mt-7 mb-5;
}

.prose h2 {
  @apply mt-7 mb-5 text-3xl;
}

.prose h3 {
  @apply mt-6 mb-3 text-2xl font-bold;
}

.prose h4 {
  @apply mt-3 mb-2 text-xl font-semibold;
}

.prose p {
  @apply leading-6;
}

.prose ul {
  @apply my-0;
}

.prose details {
  @apply px-0;
}

.prose details ul li {
  @apply leading-5;
}

.prose ol {
}

.prose ul li,
.prose ol li {
  @apply leading-5 marker:text-gray-800 dark:marker:text-gray-200;
}

.prose hr {
  @apply mx-auto max-w-3xl;
}

.prose code {
  @apply rounded-md font-medium text-gray-900 dark:text-gray-200;
}

p > code {
  @apply px-1.5 py-0.5;
}

.customLayout {
  @apply mx-auto max-w-3xl content-center;
}

/* .customLayout p,
.customLayout ol,
.customLayout ul,
.customLayout h2,
.customLayout h3,
.customLayout h4,
.customLayout details,
.customLayout .references,
.customLayout .prose h1 {
  @apply mx-auto max-w-3xl;
} */

.negMargin {
  @apply mx-0 md:-mx-4;
}

.customLayout ul.contains-task-list {
  @apply p-0;
}

.gallery {
  @apply -mx-2 flex flex-wrap overflow-hidden xl:-mx-12;
}

.gallery-2-wide {
  @apply my-1 w-full overflow-hidden px-2 xl:my-1 xl:w-1/2 xl:px-2;
}

/* .customLayout .static pre,
  .customLayout .remark-code-title {
  @apply negMargin box-content px-4 py-3;
} */

.customLayout blockquote {
  @apply font-normal not-italic;
}

.customLayout blockquote p {
  @apply border-0 px-0 py-0;
}
